QMainWindow#MainWindow { background-color: rgb(18, 15, 24); }

QLabel
{
    font: 11px 'Press Start 2P';
    color: #fff;
}

QTabWidget::pane { border: 5px dashed #fff; }

QWidget#Equipment,
QWidget#Inventory
{
    image: url(:/Resources/Images/Misc/Temp_note.png);
}

QPushButton#btn_equipment
{
    background-image: url(:/Resources/Images/Tabs/CategoryTab_Equipment.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

QPushButton#btn_equipment::hover   { background-image: url(:/Resources/Images/Tabs/CategoryTab_Equipment_Highlighted.png); }
QPushButton#btn_equipment::checked { background-image: url(:/Resources/Images/Tabs/CategoryTab_Equipment_Highlighted.png); }

QPushButton#btn_inventory
{
    background-image: url(:/Resources/Images/Tabs/CategoryTab_Inventory.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

QPushButton#btn_inventory::hover   { background-image: url(:/Resources/Images/Tabs/CategoryTab_Inventory_Highlighted.png); }
QPushButton#btn_inventory::checked { background-image: url(:/Resources/Images/Tabs/CategoryTab_Inventory_Highlighted.png); }

QPushButton#btn_stats
{
    background-image: url(:/Resources/Images/Tabs/Category_Tabs_PlayerStats.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

QPushButton#btn_stats::hover   { background-image: url(:/Resources/Images/Tabs/Category_Tabs_PlayerStats_Highlighted.png); }
QPushButton#btn_stats::checked { background-image: url(:/Resources/Images/Tabs/Category_Tabs_PlayerStats_Highlighted.png); }

QPushButton#btn_settings
{
    background-image: url(:/Resources/Images/Tabs/CategoryTab_Settings.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

QPushButton#btn_settings::hover   { background-image: url(:/Resources/Images/Tabs/CategoryTab_Settings_Highlighted.png); }
QPushButton#btn_settings::checked { background-image: url(:/Resources/Images/Tabs/CategoryTab_Settings_Highlighted.png); }

QPushButton#btn_help
{
    background-image: url(:/Resources/Images/Tabs/CategoryTab_Help.png);
    background-repeat: no-repeat;
    background-position: center;
    border: none;
}

QPushButton#btn_help::hover   { background-image: url(:/Resources/Images/Tabs/CategoryTab_Help_Highlighted.png); }
QPushButton#btn_help::checked { background-image: url(:/Resources/Images/Tabs/CategoryTab_Help_Highlighted.png); }