QLabel#label_1, 
QLabel#label_2, 
QLabel#label_3, 
QLabel#label_4, 
QLabel#l_class, 
QLabel#l_health, 
QLabel#l_level, 
QLabel#l_stamina, 
QLabel#label_5, 
QLabel#label_6,
QLabel#label_22,
QLabel#l_memory,
QLabel#l_required
{
	font-size: 12pt;
}

QLabel#l_nickname,
QLabel#label_7
{
	font-size: 16pt;
}
QLabel#label_5,
QLabel#label_6,
QLabel#l_memory,
QLabel#l_required
{
	color: rgb(240, 255, 140);
}